.spreadsheet-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rows {
  display: flex;
  gap: 8px;
}
.cell {
  padding: 8px;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
}
